
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(166, 129, 92, 1);
  color: rgba(233, 236, 243, 1);
  text-shadow: 1px 1px 1px rgb(24, 15, 1);
}
 .complete-wrap {
   display: grid;
 }

header {
  background-color: rgba(87, 64, 49, 1);
  height: 100%;
  width: 100%;
}

.win {
  font-size: 1.6em;
  margin: 0
}

.header-button {
  background-color: rgba(87, 64, 49, 1);
  border: rgba(87, 64, 49, 1);
  color: rgba(233, 236, 243, 1);
  cursor: pointer;
  height: 4rem;
  margin: auto;
}

.header-button-wrap {
  text-align: center;
}

.header-logo-button {
  background-color: rgba(87, 64, 49, 1);
  border: none;
  color: rgba(233, 236, 243, 1);
}

.admin-user-wrap,
.hide-button {
  display: none;
}

.admin-user-wrap {
  margin: 0;
  text-align: center;
}

.header-logo-wrap {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 4rem;
  justify-content: center;
}

.logo-icon {
  font-size: 2.5rem;
  margin-left: 2rem;
}

.logo-menu {
  cursor: pointer;
  margin: 0 0 0 3rem;
}

.shares {
  color: rgba(87, 64, 49, 1);
  text-shadow: 1px 1px 1px rgb(24, 15, 1);
  margin-left: 15%;
}

.grid-item {
  border: 0.5rem solid rgba(87, 64, 49, 1);
  box-shadow: 4px 4px 3px 3px rgb(24, 15, 1);
  height: 11rem;
  margin: 1rem auto;
  transition: 1.5s;
  max-width: 19rem;
  min-width: 18rem;
}

.picture-section {
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  height: 10rem;
}

.picture-section {
  box-shadow: 4px 4px 3px 3px rgb(24, 15, 1);
}

.grid-item:hover {
  background-color:rgba(87, 64, 49, 1);
  box-shadow: 3px 3px 2px 2px rgb(71, 71, 71);
  display: flex;
  flex-direction: column;
  height: 29rem;
  transition: 1.5s;
}

.logo-arrow {
  color:  rgba(87, 64, 49, 1);
  display: block;
  font-size: 2.8rem;
  padding-top: 1rem;
  padding-left: 0.6rem;
  height: 42%;
  text-shadow: 1px 1px 1px rgb(24, 15, 1);
}

.views {
  color:  rgba(87, 64, 49, 1);
  margin: 0.5rem;
  padding-right: 0.4rem;
  text-shadow: 1px 1px 1px rgb(24, 15, 1);
}

.views-number {
  font-size:  2.4rem;
  margin-top: 0.1rem;
}

#a1-pic {
  background-image: url('images/channelIslands1.jpg');
}

#a2-pic {
  background-image: url('images/vta1.jpg');
}

#a3-pic {
  background-image: url('images/cali1.jpg');
}

#a4-pic {
  background-image: url('images/redwoods2.jpg');
}

#a5-pic {
  background-image: url('images/deckerCyn1.jpg');
}

#a6-pic {
  background-image: url('images/pismo1.jpg');
}

#a7-pic {
  background-image: url('images/gorman1.jpg');
}

#a8-pic {
  background-image: url('images/deckerCyn1.jpg');
}

#a9-pic {
  background-image: url('images/deckerCyn1.jpg');
}

.grid-item:hover .hover-wrap {
  visibility: visible;
  transition: 1s;
}

 .hover-wrap {
  visibility: hidden;
} 

.name {
  font-size: 2rem;
  margin: 1rem 0 0 1rem;
}

.date {
  font-size: 1rem;
  margin: 0 0 0 1rem;
}

.url {
  background-color: rgba(138, 138, 138, 0.5);
  line-height: 3rem;
  margin: 0.5rem 1rem 0 1rem;
}

.link {
  color: rgba(233, 236, 243, 1);
  margin: 0.5rem 1rem 0 1rem;
}

.playlist {
  font-size: 0.75rem;
  margin: 1rem 0 0 1rem;
}

.playlist-name {
  font-size: 1.22rem;
  margin: 0 0 1.5rem 1rem;
}

.attachment {
  font-size: 0.75rem;
  margin: 1.5rem 0 0 1rem;
}

.attachment-count {
  font-size: 2rem;
  margin: 0.5rem 0 2rem 1rem;
}

@media (min-width:560px) {

  .admin-user-wrap,
  .hide-button {
    display: grid;
  }

  .hide-logo-menu {
    display: none;
  }

  header {
    display: flex;
  }

  .header-button-wrap {
    margin-right: 26%;
  }

  .header-logo-wrap {
    font-size: 2.2rem;
    margin: 26% 24% 0 0;
  }

  .header-button-wrap,
  .admin-user-wrap {
    width: 100%;
  }

  .shares {
    margin-left: 5%;
  }

  .main-area-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    /* background-color: rgba(1, 73, 87, 1); */
    background-color:  rgba(166, 129, 92, 1);
    display: flex;
    flex-direction: column;
    height: 29rem;
    transition: 1.5s;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 22rem;
    min-width: 22rem;
  }

  .grid-item:hover {
    height: 29.5rem;
  }

  .grid-item .hover-wrap {
    visibility: visible;
    transition: 1s;
  }
}

@media (min-width:700px) {
  .header-button-wrap {
    margin-right: 35%;
  }
@media (min-width:800px) {

  .header-button-wrap {
    display: flex;
    margin-top: 8rem;
  }

  .header-button {
    display: inline-block;
  
  }

  .header-logo-wrap {
    margin: 25% 25% 0 2%;
  }

  .grid-item {
    min-width: 20rem;
  }

}

@media (min-width:1100px) {
  .grid-item {
    min-width: 280px;
  }
}

@media (min-width:1200px) {

  .header-logo-wrap {
    margin: 5% 5% 0 0;
  }

  .header-button-wrap {
    grid-area: navBtns;
  }

  .admin-user-wrap {
    grid-area: adminBtn;
  }

  .hearder-logo-wrap {
    grid-area: logoWrap;
  }

  .header-button-wrap,
  .admin-user-wrap {
    width: 100%;
  }

  .header-logo-wrap {
    margin: 24% 36% 0 0%;
  }


  .grid-item {
    /* min-width: 320px; */
  }
}

@media (min-width:1400px) {
  .grid-item {
    min-width: 21rem;
  }
}

@media (min-width:1650px) {
  .grid-item{
    min-width: 23rem;
}